<div class="mainHeader">
  <h1>Burning Airlines</h1>
  <button>Crea Plane</button>

</div>

<%= form_with(model: airplane, local: true) do |form| %>
  <% if airplane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(airplane.errors.count, "error") %> prohibited this airplane from being saved:</h2>

      <ul>
        <% airplane.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="middleSection">
    <div class="top">
      <div class="field">
        <%= form.select :name, ["Big Plane", "Small Plane"] %>
      </div>

      <div class="field">
        <%= form.number_field :rows, placeholder: "Rows" %>
      </div>

      <div class="field">
        <%= form.number_field :columns, placeholder: "Columns" %>
      </div>
      <div class="spacer"></div>

    </div>
    <div class="bottom">
      
      <a href="./">cancel</a>

      <%= form.submit %>
    </div>
  </div>

  <div class="plane">
  
  </div>


<% end %>
